#!/usr/bin/env bash

mkdir -p ~/.local/bin/
{{- if eq .chezmoi.os "linux" }}
{{- if contains "arch" .flavour }}

sudo pacman -S mosh fzf
{{- if contains "work" .machine }}

sudo pacman -S azure-cli azcopy
{{- end }}
{{- end }}
{{- if contains "ubuntu" .flavour }}

# install vim
_CM_VIM_URL=https://github.com/vim/vim-appimage
_CM_VIM_VER=9.1.1343
_CM_VIM_ENV=glibc2.34-x86_64
_CM_VIM_TAG=v${_CM_VIM_VER}.${_CM_VIM_ENV}
wget "${_CM_VIM_URL}/releases/download/v${_CM_VIM_VER}/Vim-${_CM_VIM_TAG}.AppImage" -P ~/.local/bin
chmod +x ~/.local/bin/Vim-${_CM_VIM_TAG}.AppImage
ln -s ~/.local/bin/Vim-${_CM_VIM_TAG}.AppImage ~/.local/bin/vim

# install mosh
sudo apt install -y mosh

# install fzf
git clone --depth 1 https://github.com/junegunn/fzf.git /tmp/fzf
bash /tmp/fzf/install --bin --no-update-rc
cp /tmp/fzf/bin/fzf ~/.local/bin/
{{- if contains "work" .machine }}

# install azure-cli
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

# install azcopy
wget 'https://aka.ms/downloadazcopy-v10-linux' -O /tmp/azcopy.tar.gz
tar -xf /tmp/azcopy.tar.gz -C ~/.local/bin

# install git-credential-manager
_CM_GCM_URL=https://github.com/git-ecosystem/git-credential-manager
_CM_GCM_VER=2.6.1
wget "${_CM_GCM_URL}/releases/download/v${_CM_GCM_VER}/gcm-linux_amd64.${_CM_GCM_VER}.deb" -O /tmp/gcm-linux_amd64.deb
sudo dpkg -i /tmp/gcm-linux_amd64.deb
{{- if contains "remote" .machine }}

# install blobfuse
sudo apt install -y blobfuse2 libfuse2

# install and update restic
sudo apt install -y restic
sudo restic self-update
{{- end }}
{{- end }}
{{- end }}
{{- if contains "work" .machine }}

# install conda/mamba (miniforge)
_CM_CONDA_URL=https://github.com/conda-forge/miniforge
curl -fLsSo /tmp/conda.sh "${_CM_CONDA_URL}/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
bash /tmp/conda.sh -b -p "${HOME}/conda"
{{- end }}
{{- end }}
